<nav class="navbar navbar-expand-lg navbar-light bg-light px-4 py-2">
  <div class="container-fluid">
    <span class="navbar-text me-auto">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
      <% end %>
    </span>

    <div class="d-flex">
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete,
            data: { confirm: "Are you sure?", turbo: false },
            class: "btn btn-outline-danger ms-2" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</nav>
